<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RapidA11y.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RapidDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RapidDemoUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RapidTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F115DD61EA8D5C9003537E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F115DE91EA8D5C9003537E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F115DF41EA8D5C9003537E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B209016D1E88678A0091BE07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B209018F1E8867C50091BE07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
